{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block page_content %}

<div id="display">
	<div id="productName">
		<h1>{{data.title}}</h1>
	</div>
	<div>
		<img src={{data.image}} id="productImage"/>
	</div>

	<div id="productDescription">
		<h2>Details</h2>
		<table id="descriptionTable">
			<tr>
				<td>Name</td>
				<td>{{data.title}}</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>DKK {{data.price}}</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>{{data[5]}}</td>
			</tr>
		</table>
		<h2>Description</h2>
		<p>{{data.author}}</p>
	</div>
	<div id="addToCart">
		<a href="/addToCart?productId=">Add to Cart</a>
	</div>
</div>
{% endblock %}